<?xml version="1.0" encoding="UTF-8"?>
<!-- scan属性未true时，如果配置文档发生改变将会进行重新加载 -->
<!-- scanPeriod属性设置监测配置文件修改的时间间隔，默认单位为毫秒，在scan为true时才生效 -->
<!-- debug属性如果为true时，会打印出logback内部的日志信息 -->
<configuration scan="true" scanPeriod="1 seconds" debug="false" packagingData="true">

    <!-- 日志的显式格式 -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50}-%msg%n"/>

    <!-- 从 application.properties 中 spring.application.name 属性取出对应的属性 -->
    <springProperty scope="context" name="app_name" source="spring.application.name"/>

    <contextName>${app_name}</contextName>

    <!-- 控制台显示 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 需要引入额外的解析库依赖 janino -->
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>return message.contains("tag");</expression>
            </evaluator>
            <OnMatch>ACCEPT</OnMatch>
            <OnMismatch>DENY</OnMismatch>
        </filter>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--    <root level="INFO">-->
    <!--        <appender-ref ref="CONSOLE"/>-->
    <!--    </root>-->

    <springProfile name="dev">
        <logger name="com.github.spring.boot.logback" level="DEBUG" additivity="false">
            <appender-ref ref="STDOUT"/>
        </logger>
    </springProfile>

</configuration>